- greeting:
    text: "Tu espacio. Bajo control."
    text_size: 2xl
- datetime:
    text_size: lg
    locale: es-ES
    format:
      dateStyle: long
      timeStyle: short
      hourCycle: h23
      timeZone: Europe/Madrid
- search:
    provider: custom
    url: https://duckduckgo.com/?q=
    target: _blank
    focus: false
    showSearchSuggestions: true
