PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}
PAPERLESS_OCR_LANGUAGES={{ paperless_ocr_languages }}
PAPERLESS_TIME_ZONE={{ paperless_time_zone }}
PAPERLESS_URL={{ paperless_url }}
PAPERLESS_ALLOWED_HOSTS={{ paperless_allowed_hosts }}
PAPERLESS_CSRF_TRUSTED_ORIGINS={{ paperless_csrf_trusted_origins }}
PAPERLESS_TASK_WORKERS={{ paperless_task_workers }}
PAPERLESS_THREADS_PER_WORKER={{ paperless_threads_per_worker }}
